*{margin:0; padding:0;}
html{
	height:100%;
	/*background: linear-gradient(rgba(38, 128, 101, 0.9), rgba(52, 177, 140, 0.9));*/
}
.erros, .ok{
	width:390px;
	padding:5px;
	background:rgba(238, 249, 113, 0.9);
	margin:40px auto 0 auto;
	border:1px solid rgba(222, 239, 10, 0.9);
	border-radius:4px;
	color:#333;
}
.ok{background:rgba(155, 222, 143, 0.9); border-color:rgba(68, 171, 50, 0.9); color:white;}
body{
	font-family: "Trebuchet MS", tahoma, arial;
}

#formulario{
	width:25%;       /* ancho del formulario que es la barra de progreso*/
	margin:40px 0px -40px -25px;   /* margen de toda la barra de prgreso*/
	text-align:center;
	position:left;
}

#formulario h2, #formulario h3{
	font:22px "Trebuchet MS", tahoma, arial;
	color:#090;
	width:100%;
	float:left;
	text-align:left;
	margin-bottom:4%;
}

#formulario h3{color:#333; font-size:20px;}

#formulario fieldset{
	background:white;
	border:0 none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	box-shadow:0 0 15px 1px rgba(0,0,0, 0.4);
	padding:20px 30px;

	box-sizing: border-box;
	width:80%;
	margin:0 10%;
	position:absolute;
}

#formulario fieldset:not(:first-of-type){
	display:none;
}

#formulario input, #formulario textarea{
	padding:10px;
	border:1px solid rgba(38, 128, 101, 0.9);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline:none;
	box-sizing: border-box;
	width:100%;
	font:14px "Trebuchet MS", tahoma, arial;
	color:#090;
	margin-bottom:10px;
}
#formulario .acao{
	width:100px;
	background:rgba(38, 128, 101, 0.9);
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	padding:12px 0;
	float:left;
	margin-right:5%;
}
#formulario .acao:hover{background:rgba(52, 177, 140, 0.9); cursor:pointer;}

#formulario #progress{
	margin-bottom:30px;
	overflow:hidden;

	counter-reset: step;
}

#formulario #progress li{
	list-style-type:none;
	color:gray;
	font-weight:bold;
	text-transform:uppercase;
	font-size:10px;
	float:left;
	width:0%;        
	position:relative;
	left: -100px;
}

#formulario #progress li:before{
	content: counter(step);
	counter-increment: step;
	width:30px;
	display:block;
	line-height:30px;
	background:#cfd8dc;
	color:#333;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;

	margin:0px -99px 0px 100px; /*mueve los circulos de la barra de progreso*/
}

#formulario #progress li:after{
	content: '';
	width:2%;  /*el lago de la linea*/
	background:#cfd8dc;
	height:2px;
	position:absolute;
	top:-5px;
	left:3%; /*mueve las lineas dela bara de progreso*/
	z-index:-5;
	transform : rotate(90deg); /*rotacion de la linea*/
}
#formulario #progress li:first-child:after{
	content:none;
}

#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
	background:rgba(0, 208, 141, 0.9);
	color:white;
	text-shadow:0 1px 0;
}